html {
  font-size: 14px;
}
@media (min-width: 580px) {
  html {
    font-size: 16px;
  }
}
/*モーダル指定*/
.modal-content{
    color: #373A3C;
    background-color: #FDFDFD;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    /*border-color : #FF0000;*/
}
/*一行テキストボックス*/
.oneRow {
    resize: none;
    height:1em;
}
/*選択肢背景色*/
.selected {
    background-color: #FFFFFF;
    color: #FFFFFF;
}


/*LSIZE*/
@media screen and (min-width:1024px) {
    .container {
        max-width: 1024px;
        float: center;
    }

    .card-deck .card {
        margin-top: 15px;
        max-width: 310px;
        min-width: 310px;
        min-height: 300px;
    }
}
/*MSIZE*/
@media only screen and (min-width:580px) and (max-width:1023px) {
    .container {
        width: 100%;
    }
    .card-deck .card {
        margin-top: 10px;
        max-width: 310px;
        min-width: 250px;
        min-height: 300px;
    }
}
/*SSIZE*/
@media screen and (max-width:580px) {
    .container {
        width: 100%;
    }
    .card-deck .card {
        margin-top: 10px;
        max-width: 100%;
        min-width: 300px;
        min-height: 250px;
    }
}
